<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuguan.mq.demo.mapper.OrderDetailMapper">
    <insert id="saveOrderDetail" parameterType="com.qiuguan.mq.demo.biz.OrderDetail">
        INSERT INTO order_detail(order_detail_id, phone, address) VALUES (#{orderDetailId}, #{phone}, #{address})
    </insert>
</mapper>